#kids{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-bottom: 100px;
    border: 3px solid #FF6699;
    border-radius: 15px;
    width: 500px;
    background-color:#89cff0 ;
}